body {
    /*color: #ffffff;*/
}

.div1 {
    background: #3a3a3c;
    position: relative;
    height: 63vw;
    width: 31.5vw;
}

.div2 {
    position: absolute;
    background: #000;
    height: 50%;
    width: 80%;
    bottom: 0;
    right: -40%;
}.div3 {
     position: absolute;
     background: #a7a9ac;
     width: 21vw;
     height: 21vw;
     bottom: -10.5vw;
     right: 0;
 }