body {
    height: 100vh;
    width: 100vw;
}

.div1, .div2, .div3 {
    position: absolute;
}

.div2, .div3 {
    background: #000;
}

.div1 {
    height: 31.5vw;
    width: 71%;
    bottom: 0;
    right: 0;
    background: #3a3a3c;
}

.div2, .div3 {
    width: 21vw;
    height: 21vw;
}

.div2 {
    bottom: 0;
}

.div3 {
    top: 0;
    right: 0;
}