.div1, .div2, .div3 {
    display: inline-block;
    background: #000;
    width: 20vw;
    height: 20vw;
    /*color: #ffffff;*/
}

.div1 {
    float: left;
}

.div2 {
    float: right;

}

.div3 {
    margin-left: 1vw;
    float: right;
}

