body {
    color: #fff;
}
.div1 {
    position: relative;
    background: #555555;
    height: 50vh;
    width: 50vh;
}

.div2 {
    background: #000;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 25vh;
    width: 25vh;
}