body {
    /*color: #ffffff;*/
}

.div1 {
    position: relative;
    background: #3a3a3c;
    width: 31.5vw;
    height: 63vw;
}

.div2 {
    position: absolute;
    background: #000;
    width: 26vw;
    height: 50%;
    bottom: 0;
    right: 0;
}

.div3 {
    position: absolute;
    background: #a7a9ac;
    width: 20.6vw;
    bottom: 1.6vw;
    right: 1.6vw;
    height: 20.6vw;
}