body {
    /*color: #fff;*/
}
.div1 {
    position: relative;
    background: #3a3a3c;
    height: 40vw;
    width: 40vw;
}

.div2 {
    background: #000;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 20vw;
    width: 20vw;
}