body {
    /*color: #ffffff;*/
    padding-top: 6vw;
}

.div1 {
    position: relative;
    background: #3a3a3c;
    width: 70vw;
    height: 31vw;
    margin: 0 auto;
}

.div2, .div3 {
    position: absolute;
    background: #000;
    width: 20vw;
    height: 20vw;
    top: 5.5vw;
}

.div2 {
    left: 5.5vw;
}

.div3 {
    right: 5.5vw;
}