body {
    /*color: #ffffff;*/
}

.div1 {
    background: #3a3a3c;
    width: 40vw;
    height: 40vw;
    position: relative;
}

.div2 {
    background: #000;
    position: absolute;
    width: 50%;
    height: 50%;
    right: 0;
    top: 0;
}