.div1, .div2 {
    width: 20vw;
    height: 20vw;
    /*color: white;*/
}

.div1 {
    background: #000;
    position: relative;
}

.div2 {
    background: #3a3a3c;
    position: absolute;
    top: 50%;
    left: 50%;
}