main {
    /*color: #ffffff;*/
    width: 83vw;
    height: 69.8vw;
    position: relative;
}

.div2, .div3, .div4 {
    position: absolute;
}

.div1, .div4 {
    background: #3a3a3c;
    width: 39.4vw;
    height: 39.4vw;
}

.div2, .div3 {
    background: #000;
    width: 20.8vw;
    height: 20.8vw;
}

.div2 {
    top: 0
}

.div2, .div4 {
    right: 0;
}

.div3, .div4 {
    bottom: 0;
}
