body {
    /*color: white;*/
}
.div1 {
    position: relative;
    background: #3a3a3c;
    width: 31vw;
    height: 63vw;
}

.div2, .div3 {
    left: 5vw;
    position: absolute;
    background: #000;
    width: 21vw;
    height: 21vw;
}

.div2 {
    top: 0;
}

.div3 {
    bottom: 0;
}